[2015-04-14 10:40] kbirand opened #3 "Compile Fail with Xcode 6.3 Final"
let cfProperties = CGImageSourceCopyPropertiesAtIndex(source, index, nil)
is giving an error =
"Cannot invoke 'CGImageSourceCopyPropertiesAtIndex' with an argument list of type 'CGImageSourceRef,Uint,nil)'

[2015-04-14 10:57] bahlo commented on #3
Hey @kbirand, thanks for pointing out. I will look into this tonight.

[2015-04-15 21:14] kbirand commented on #3
No problem

[2015-04-16 10:15] gaiabeatrice commented on #3
The problem is that in
 let cfProperties = CGImageSourceCopyPropertiesAtIndex(source, index, nil)
the index type is UInt but the index that we use is an Int type

[2015-04-16 18:08] bahlo commented on #3
Hey @gaiabeatrice, thanks for the hint. Unfortunately I haven't had the time yet to look into this.

It'd be great if you created a PR. :)

[2015-04-19 03:17] JoelSimonoff commented on #3
I am having the same Issue I fixed it, I didn't see any new PR so I will create one

[2015-04-23 12:18] bahlo commented on #3
Fixed in [`1.3.1`](https://github.com/bahlo/SwiftGif/releases/tag/v1.3.1).

[2015-04-23 12:18] #3 closed

[2015-05-15 12:33] mackuba opened #5 "add to cocoapods"
Hi,

it would be nice to have the library in CocoaPods (right now I've added it using Peru https://github.com/buildinspace/peru).

BTW, I love the demo gif in the readme ;)

[2015-05-15 14:08] bahlo commented on #5
Good idea, thanks for the suggestion. Unfortunately I have a lot on my plate right now, so it may last a few weeks.

But if you want to open a PR, you're very welcome! :+1:

PS: Gifs are great. :grin:

[2015-05-17 16:41] chrischristo commented on #5
hey how would I add a gif image by name from my images.xcassets?

[2015-06-02 09:46] SamBuydens commented on #5
I've imported the files and it works just fine with the demo gifs provided but when I load in a 3.9mb 640x400 gif the gif lags and the memory of the device (running in simulator) reaches 223mb, this seems exceedingly high.

Is there a limit for the gif that I'm using that I should take in account?

[2015-06-15 11:59] ravifullestop opened #6 "Memory leak issue"
I've imported the files and it works just fine with the demo gifs provided but when I load in a 3.9mb 640x400 gif the gif lags and the memory of the device (running in simulator) reaches 223mb, this seems exceedingly high.

Is there a limit for the gif that I'm using that I should take in account?

[2015-06-16 21:41] bahlo commented on #6
Hey @ravifullestop, thanks for making an issue!

I didn't test it with gifs this big, but I will look into it as soon as I have more time. :+1:

[2015-09-14 10:05] rhenz commented on #6
+1

[2015-09-15 19:07] goktugyil opened #9 "Cocoapods support?"
This would be good

[2015-09-15 19:09] goktugyil opened #10 "Drop the setup"
[code]

This uses too many lines to setup the gif. It could have been only:

[code]

I might do this in the future when I have time

[2015-10-12 17:30] goktugyil commented on #10
i can do this now

[2015-10-12 17:42] bahlo commented on #10
@goktugyil That would be great! Looking forward to your PR :smirk:

[2015-10-12 18:00] #5 closed

[2015-10-12 18:01] bahlo commented on #9
Closed in [`1.4.1`](https://github.com/bahlo/SwiftGif/releases/tag/v1.4.1). Thanks for the suggestion! :+1:

[2015-10-12 18:01] #9 closed

[2015-10-12 18:44] goktugyil commented on #10
https://github.com/bahlo/SwiftGif/pull/14

[2015-10-13 12:39] bahlo commented on #10
Merged in [`1.5`](https://github.com/bahlo/SwiftGif/releases/tag/v1.5).

[2015-10-13 12:39] #10 closed

[2015-10-27 14:24] nleachCHS commented on #6
+1

[2015-11-16 14:08] bpillon opened #15 "Carthage Does Not Build"
adding the following to my Cartfile
    github "bahlo/SwiftGif"

results is the following:

    *** Skipped building SwiftGif due to the error:
    Dependency "SwiftGif" has no shared framework schemes for any of the platforms: iOS

[2015-11-18 23:16] bahlo commented on #15
Hey, thanks for letting me know, I will look into it!

[2015-12-09 13:32] qvik opened #18 "Crashes with invalid GIF data"
Hi, trying to load invalid data as a GIF crashes this code with EXC_BAD_ACCESS. This is due to the unsafe code in delayForImageAtIndex(). Proper checks should be in place and the UIImage.gifWithData() should throw / return nil if invalid data was handed in.

As a quick hack, the following is how I made this 'work' (= not crash):

[code]

Also, building for the device, I get the linker error:

[cod

[2015-12-10 10:21] lostpupil commented on #6
+1

[2015-12-30 15:02] abdulaziz-jm commented on #6
+1

[2016-01-28 19:33] bahlo commented on #15
Okay, so this bug is known and now handled in #17, thanks again for the info.

[2016-01-28 19:33] #15 closed

[2016-01-28 19:36] bahlo commented on #18
Thank you for the information and sample code! :+1:

[2016-01-28 19:47] bahlo commented on #18
I tested your code, but the tests are failing due to failed access of `cfProperties`.
I would be very grateful if you could fix this error and create a PR? :100:

[2016-02-10 16:25] digitalartworks opened #21 "Memory leak after exiting view controller"
Oh, sorry, I just confound Your lib with another :) Anyway I was using Your lib, but it is memory inefficient. Better way is to allocate i.e. 5 frames in memory as cache and prepare another in runtime.

Good luck!

[2016-02-10 16:27] bahlo commented on #21
Thank you for that information! :+1:

Maybe it would make sense to create a `destroy()`-Method to call on exit, I'll think check this.

[2016-03-15 08:51] khanamir opened #23 "Any way to set the repeat count?"
Is there any public property to set the repeat count for the gif image? I want the gif image to animate just once.

[2016-03-15 09:26] bahlo commented on #23
See the wiki: https://github.com/bahlo/SwiftGif/wiki/Extended-use

[2016-03-15 09:26] #23 closed

[2016-03-18 15:49] qvik commented on #18
What do you mean 'failed access of cfProperties'? The code I posted compiles & executes without errors on Xcode 7.x build?

It is fairly crucial for our system that the app does not crash when possibly handed a broken .gif, so having this fix is a must.

-Matti

[2016-04-04 20:17] samheather opened #26 "Cocoa Pods"
Any chance you could add this to Cocoa Pods please, for easy installation into projects?

[2016-04-04 20:19] samheather commented on #26
Whoops - ignore, just not in the README.md. Will add.

[2016-04-04 20:19] #26 closed

[2016-04-04 20:31] samheather commented on #6
+1 - just loaded a 2.8mb Gif, 2000x2000 and memory usage went to 1GB before crashing out

[2016-04-04 21:47] bahlo commented on #6
Sorry I'm only replying so late. :disappointed:

Since SwiftGif puts all frames in a `UIAnimatedImage` and even duplicates them to match various framerates, the memory leak is easily explained. It's just a lot of memory used.

We could render only a sequence of images at once (like lazy-load, plus drop earlier frames). This would add complexity to the library but help with this issue.
Another way

[2016-04-04 21:48] bahlo commented on #21
Closed as duplicate of #6.

[2016-04-04 21:48] #21 closed

[2016-04-04 22:19] samheather commented on #6
I'm still a little confused at how all the space is been used. Let's take an example:
800x800px GIF with 138 frames and transparency. The GIF is 2.8mb.
With SwiftGif, the memory increase from loading this Gif is ~290mb. So each of those 138 frames is taking 290/138 = 2.1Mb somehow.
Whereas if I export a frame of my Gif from Photoshop it's about 87kb (24x less).
Why does extracting each frame from

[2016-04-05 07:22] bahlo commented on #6
From the `README.md`:

## How does it work?
Easy, it does the following:

1. Find out the duration of every frame
2. Find the greatest common divisor
3. Add frames accordingly to the greatest common divisor to an array
4. Create an animated UIImage with the frames

----

So if the greatest common divisor is, say, one second, images that are displayed ten seconds would get added ten times. This _ma

[2016-04-07 11:43] AlbertSwift opened #28 "Crash when gif from document directory."
i have download the list of gif from server into my document directory.
now when i m going to display it crash.

mycode:
let imageData = NSData(contentsOfURL: NSURL(fileURLWithPath: dataPath))
        let advTimeGif = UIImage.gifWithData(imageData!)

Crash at here::
var delayObject: AnyObject = unsafeBitCast(
            CFDictionaryGetValue(gifProperties,
                unsafeAddressOf(kCGImageP

[2016-04-11 07:06] sjdong opened #29 "crash when the gif only had single frame"
func delayForImageAtIndex line 74:
if delayObject.doubleValue == 0 {
            delayObject = unsafeBitCast(CFDictionaryGetValue(gifProperties,
                unsafeAddressOf(kCGImagePropertyGIFDelayTime)), AnyObject.self)
        }
will cause the issues when there is only single frame

i'am newbie to swift, i add this code to fixed the issues. but i don't know whether this is a good way or not.

[2016-04-11 09:11] bahlo commented on #29
Hey, I'm sorry you're having problems - I will look into this :ok_hand:

[2016-04-14 09:02] samheather commented on #6
Yeah it sounds like it. I wonder if there's an optimisation by allowing flexibility in the greatest common divisor, i.e. if we've got frames of 9, 10, 20, 30, 40, we'd have to use GCD of 1, whereas the effect of using 10 would probably be minimal. It could be a toggle-able optimisation - a 10% deviation in the GCD value?

[2016-04-19 18:25] lorenzoferrante opened #31 "Stop animating when the image is resized."
Hi, the gif is animating properly but when I try to resize the image to fit the screen width, the gif is not animating. Here's the code:

         /* IMAGEVIEW */
        var silvester: UIImage = UIImage.gifWithName("image")!

        let screenW: CGFloat = UIScreen.mainScreen().bounds.size.width
        let imageH: CGFloat = screenW / 1.3
        let sizeRight : CGSize = CGSize(width: screenW, he

[2016-04-21 12:06] bahlo commented on #31
Hey, did you try embedding it in a `UIImageView` and scaling this?

[2016-07-31 01:18] dlush315 opened #34 "CPU usage spikes when app enters background and then opens again"
I noticed that when I add a gif to the scene, the CPU usage remains stable but when I press the home button and reopen the app, the % jumps from around 15% to 50-60%. This even happens on the demo app.

Does this happen for anyone else? If so, any fixes for it?

[2016-07-31 01:21] #34 closed

[2016-08-22 15:52] petaire92 opened #35 "Update to swift3?"
Hey,

Just wanted to know if you're planning to update it for Swift3 or if it's abandonned ! So I can look for another third party option ! It would be a shame, it's the more practical and the lightest one !

[2016-08-22 16:34] bahlo commented on #35
Hey, Swift 3 support is planned, I'm just not having the time at the moment, will try to do it this week 💪

[2016-08-22 18:08] petaire92 commented on #35
Great ! Let us know !

[2016-08-22 18:51] bahlo commented on #35
Merged in [v1.6-beta.1](https://github.com/bahlo/SwiftGif/releases/tag/v1.6-beta.1) (soon to be master, when Swift 3 is released). 😁

[2016-08-22 18:51] #35 closed

[2016-08-22 18:52] bahlo commented on #18
Closed via #25, feel free to reopen if the issue persists.

[2016-08-22 18:52] #18 closed

[2016-08-22 18:53] bahlo commented on #31
Closing for now, feel free to reopen.

[2016-08-22 18:53] #31 closed

[2016-08-30 17:39] geppelt opened #36 "Does not work within extensions"
Pretty straight forward: does not work within extensions (eg Keyboard).

[2016-08-30 21:18] bahlo commented on #36
Which version did you use? What doesn't work? Is there an error message or just no animation?

[2016-08-31 17:59] geppelt commented on #36
Version? I am using XCode 7.3 with iOS 9.3.5.

Original it would not recognize the extensions, but I got that working by implementing it straight into the ViewController's Swift file. It use to throw the error "Image 'XXX' does not excists", which was wrong, but now the keyboard just fails to initalize with throwing any error.

[2016-09-03 12:21] petaire92 commented on #6
+1

[2016-09-16 03:26] chaitanya-ramji opened #38 "Errors on Xcode 8 GM"
Hey,
There are couple of errors while building on Xcode 8 GM. Could you please fix it and patch an update?

Thanks :)

[2016-09-16 07:45] bahlo commented on #38
Hey @chaitanya-ramji, did you check out the v1.6-beta.1?

[2016-09-17 23:54] chaitanya-ramji commented on #38
Yep, I used the file from that branch. I'll give it another try in a fresh XC project.
Cheers :)

[2016-09-18 10:43] petaire92 commented on #6
Any news on this ?

[2016-09-19 09:21] HirotoIchinose opened #39 "How to install by pod for swift3 ??"
I cannot install SwiftGif for swift3.

My Podfile is ..

[code]

But I get the following error.

[code]

I run `pod repo update`, but I get the same error again.

How can I use SwiftGif??

[2016-09-19 14:51] netgfx opened #40 "XCode 8 .gif from .xcassets cannot be loaded"
Hello, anyone having any problems loading named .gif? My code is the same as it was before moving to Swift 3.0 and XCode 8 but I can no longer see the .gif playing.

I have updated the SwiftGif to its latest version.

Any ideas?

[2016-09-21 12:59] peihsendoyle opened #41 "How to pause temporarily the gif?"
Hi Bahlo, I've just took a look on your library. Everything works amazingly, but I am in stuck with a problem. How to pause temporarily the gif? I want pause and resume it for some reason (like music play, pause...)

Thanks very much and wait for your reply.

[2016-09-23 10:25] AlexInTheMountains commented on #41
I am also curious as how to pause/stop the animation?

[2016-09-24 11:52] bahlo commented on #41
Hey guys, you can use [`stopAnimating()`](https://developer.apple.com/reference/uikit/uiimageview/1621057-stopanimating) from `UIImageView` to stop the animation.

Feel free to re-open if that doesn't answer your question 👍

[2016-09-24 11:52] #41 closed

[2016-09-29 09:43] LamourBt commented on #39
I have also run into this issue, the way i fixed it was to remove ~.1.6. Then do a `pod install` then a `pod update`

![screen shot 2016-09-29 at 5 42 20 am](https://cloud.githubusercontent.com/assets/14245117/18949042/84ad8f82-8607-11e6-92ce-12403816dda2.png)

[2016-10-01 06:31] jvk75 commented on #39
Swithcing to 1.5.3 is not a real solution as it is not Swift3. 1.5.3 cannot be build in Xcode8.
Only real solution is wait so that pod autoupdate picks in or the author issues force update.
1.6 is not visible in  cocopods

[2016-10-01 18:05] bahlo commented on #39
Hey guys, sorry for the trouble. Will look into it asap 👍

[2016-10-03 00:07] HarrisCarney commented on #39
@bahlo looks like this can be fixed by changing the folder "SwiftGifCommon" to "SwiftGifOrigin".

[2016-10-05 09:56] AlexInTheMountains commented on #41
Hi, stopAnimating() is not working for me? I use Swift 3 on xcode 8. So basically the stopAnimating call does have no effect and gif continues to loop and loop.

[2016-10-05 09:58] AlexInTheMountains opened #42 "follow up on #41"
Hi, stopAnimating() is not working for me? I use Swift 3 on xcode 8. So basically the stopAnimating call does have no effect and gif continues to loop and loop.

Please see: How to pause temporarily the gif? #41 for context.

Thanks.

[2016-10-11 12:32] matti777 commented on #39
Hi, a Swift3 -compatible pod release coming out soonish?

[2016-10-11 12:40] bahlo commented on #39
I'm so sorry guys, I'm drowning in work, will try and fix it this week. 💪

[2016-10-20 15:07] Danm72 opened #43 "1.6 isn't listed in the CocoaPods specs"
Hey guys,

I'm new to ios development, but using 1.6 in my podfile didn't work so I checked the specs repo to see if its listed and the last spec listed is 1.5.3

https://github.com/CocoaPods/Specs/tree/master/Specs/SwiftGifOrigin

[2016-10-22 02:13] pocket7878 commented on #40
I'm in the same situation too. Any updates?

[2016-10-23 12:16] Drenadan commented on #39
Hey, @bahlo should we wait for a fix in the near future?

[2016-10-23 13:26] bahlo commented on #39
Closed via [`v1.6.1`](https://github.com/bahlo/SwiftGif/releases/tag/v1.6.1), thank you all for waiting.

BTW: If anyone is interested in becoming a maintainer of SwiftGif, please let me know - I barely find time as you may have noticed

[2016-10-23 13:26] #39 closed

[2016-10-23 13:27] bahlo commented on #43
You are right, I just pushed `v1.6.1` to CocoaPods, using that version should work now. Feel free to reopen if this problem persists.

[2016-10-23 13:27] #43 closed

[2016-10-23 13:43] bahlo commented on #41
Hey @AlexInTheMountains, did you configure the `UIImageView` like described [here](https://github.com/bahlo/SwiftGif/wiki/Extended-use)? I just tried it and it works for me.

[2016-10-23 13:43] bahlo commented on #42
Closed as duplicate, I answered you in #41 👍

[2016-10-23 13:43] #42 closed

[2016-10-23 13:47] bahlo commented on #40
Hey guys, sorry you're having troubles - can you tell me which method you use to load the gif? Do you see any error logs from SwiftGif in the console?

[2016-10-23 13:50] bahlo commented on #28
Are you still having this issue?
If yes, can you try the new `v1.6.1` version and check if the problem persists?

We removed the `unsafeAddressOf` call, so hopefully this bug is fixed. If not, feel free to re-open! 🍻

[2016-10-23 13:50] #28 closed

[2016-10-23 13:51] bahlo commented on #38
Hey @chaitanya-ramji, will close this now - feel free to reopen if this issue persists. 💯

[2016-10-23 13:51] #38 closed

[2016-10-23 13:55] bahlo commented on #36
Hey @geppelt, are you still having this issue?

I would recommend to get `UIImage("yourfile.gif")` to work (without animation) from your keyboard and replacing it with the `SwiftGif` code after that worked.

Feel free to re-open this if the issue persists.

[2016-10-23 13:55] #36 closed

[2016-10-23 14:42] Drenadan commented on #39
@bahlo Thank You ! now it works.

[2016-10-24 10:12] pocket7878 commented on #40
@bahlo Thank you for your comment. I only got a error that `.gif` method is not found in `UIImage` .. 😢

[2016-10-24 10:54] bahlo commented on #40
Did you `import SwiftGif` (respectively `SwiftGifOrigin` for CocoaPods)?

[2016-11-05 12:28] lorenzoferrante opened #44 "Laggy TableView scroll."
Hi,
I created a custom UITableViewCell with UIImageView inside to display the gifs in a TableView, but scrolling the TableView is slow, laggy and get stuck for a few seconds while trying to scroll. What can I do?
Thanks.

[2016-11-10 09:15] JustinJiaDev commented on #40
Same issue. Using Carthage.

[2016-11-12 23:23] Mozahler commented on #6
You are using:
func CGImageSourceCreateWithData(_ data: CFData, _ options: CFDictionary?) -> CGImageSource?
Which Creates an image source that reads from a Core Foundation data object.
returns: An image source. You are responsible for releasing this object using CFRelease.

I don't see any calls to CFRelease in your code. This means that the memory used during each call is retained and never deall

[2016-11-20 11:19] ivoduits opened #45 "Gif url"
When it try to open a gif with url (UIImage.gif(url: "www.exampleurl.com/test.gif"))  i always get the same message back: Cannot turn image named "www.exampleurl.com/test.gif" into NSData

Does anyone else has the same problem?

[2016-11-23 04:30] Jerland2 opened #46 "Suggestion, Pause Gif"
Do you think it is possible to add a function where you could pause/play the gif at the current frame?

[2016-11-23 09:52] bahlo commented on #46
See the [wiki](https://github.com/bahlo/SwiftGif/wiki/Extended-use) for stopping and starting the gif.
Feel free to re-open if that doesn't help 👍

[2016-11-23 09:52] #46 closed

[2016-12-01 13:37] appoulsen commented on #40
same issue also using Carthage

[2016-12-02 04:45] zhanswift opened #47 "How to stop animating?"
I need only one cycle animating, how do to this?

[2016-12-05 01:04] totocaster commented on #47
@zhanswift This is covered in [Wiki](https://github.com/bahlo/SwiftGif/wiki/Extended-use).

[2016-12-09 11:04] VTCoco opened #48 "Carthage problem"
Hello,

When I pull the framework with a carthage update (github "bahlo/SwiftGif" ~> 1.6.1), I can import it normally with "import SwiftGif" but I can't access to any methods of it...

Am I doing wrong or it's a framework issue?
Thank you.

[2017-01-17 06:55] davidkc0 commented on #44
Same issue. Did you ever figure it out?

[2017-01-24 15:11] DhruveShah commented on #40
Is there any update on this?

[2017-02-02 14:14] stijnwesterhof opened #51 "Is there any way to use this with an url instead of a local gif?"

[2017-02-13 19:57] KrisYu commented on #51
Yes, the UIImage can be created by `UIImage.gif(data: Data)`

Code would be something like this:

        let url = URL(string: url)
        let data = try? Data(contentsOf: url!)
        let gifImage = UIImage.gif(data: data!)
        imageView.image = gifImage

Just take care of two things:

1. You may want to do it async.
2. If load from `http://`, Remember add 'App Transport Security Settings'

[2017-02-24 07:59] mhillebrand commented on #48
Same here. SwiftGif doesn't work with Carthage. :(

[2017-02-27 02:41] sine27 opened #52 "Image loaded but not animating"
I programmatically added a gif in a stackview, however, the image is not animating

"display_url" = "pic.twitter.com/PD4fxB83OI";
"expanded_url" = "https://twitter.com/MarcAnthony/status/836026935813746688/photo/1";
"media_url" = "http://pbs.twimg.com/tweet_video_thumb/C5oqDsuXQAAEEcm.jpg";

[2017-02-27 02:47] #52 closed

[2017-03-22 01:12] kywix opened #53 "add support for tvOS in the pod spec"
thank you for making this. The code works with no modifications on tvOS however the podfile can't install it due to the spec not offering the tvOS.

Could you add it?
thx!

[2017-03-22 12:04] rokgregoric opened #54 "High framerates/delay lower then 0.1s not supported."
If a gif has a high framerate where the delay is < 0.1 sec, the delay defaults to 0.1 sec.

[2017-04-04 00:23] toddgower opened #56 "Xcode 8.3 Invalid Redeclaration of Gif"
After upgrading to Xcode 8.3, I'm getting a compilation error on the method declaration for ` gif(_ url: String)` that says

And also on `gif(_ name: String)` I'm getting another error that says

Seems straightforward since Objective-C doesn't support method overloading and the class is extending the Objective-C class UIImage. Just wondering why this wasn't an issue before the upgrade.

[2017-04-04 00:29] toddgower commented on #56
Never mind, issue fixed itself. Don't know if the swift 3.0 syntax converter goofed things up.

[2017-04-04 00:29] #56 closed

[2017-04-05 10:13] srea commented on #48
me too :(

[2017-04-06 04:39] tommylo commented on #6
Even the view controller is deinit, the UIImage with gif is not released.

[2017-04-24 20:29] toddgower commented on #56
If anyone else has this issue, all you need to do is remove the underscores that allow you to omit the param names. Like this:
`gif(data: String)`
`gif(name: String)`
`gif(url: String) `

[2017-06-02 17:22] petezajot commented on #45
i have the same problem, but only with one .gif, i tried with other URL and works perfect, maybe it's the size of the image or the memory

[2017-06-07 10:50] tiwariammit commented on #47
Animation didn't stop on swift 3. How can i stop it?

[2017-06-07 10:54] zhanswift commented on #47
@tiwariammit Maybe this code help to you
`imageView.animationRepeatCount = 1`

[2017-06-07 10:56] tiwariammit commented on #47
yes i got the solution already. By the way thank

[2017-06-15 22:57] idemche opened #58 "Gif position transfer to another ViewController"
Is it possible to transfer and start animation from current frame in another ViewController? For example if i have i bird flying from a left border and then suddenly i need to transit through segue to another view controller may i have the same position of the bird on another without it being reset to the beginning of animation?

[2017-06-19 11:15] niennonno opened #59 "Showing the last image on the animation completion."
I have a gif which I am running for one cycle of animation. Once the animation is completed, I want to freeze the last animation image on my imageView. How can I achieve that?

[2017-08-03 09:31] bigYanGe opened #60 "just support 9.0~?"

[2017-09-23 08:37] MKTherkildsen opened #62 "This image named "nav" dows not exist"
I'm using the latest Xcode 9, and when I tryed to run my application I get the error This image named "nav" does not exist, I tryed to use this in Xcode 8 without any problems.

Any idea how to fix this problem?

[2017-09-23 08:42] MKTherkildsen commented on #62
Just at samee update to the question "nav" is my gif picture.

[2017-09-27 00:22] capps1994 opened #63 "not able to stop gif on last image."
I'm having issues trying to get the animation to stop after the first loop

is there a way to do this?

thanks in advance

[2017-09-29 06:47] sanadazuistransa commented on #62
i meet the problem too

[2017-10-02 09:17] madadoux commented on #63
we need the ability to stop and play the gifs

[2017-10-05 08:54] FreeStand commented on #62
same problem here

[2017-10-09 20:51] tamoyal commented on #62
+1

[2017-10-12 08:51] JonnyFan commented on #62
Make sure your image has check the target, it's help for me.
![qq20171012-164829](https://user-images.githubusercontent.com/14065137/31487468-4dcae998-af6d-11e7-92be-5161589854b8.png)

[2017-10-12 15:01] tamoyal commented on #62
Yea I think this is a funky XCode issue. Resources imported into projects don't seem to be automatically added to the "Copy Bundle Resources" build phase. So in XCode you have to go to your target, hit build phases, and manually add the resource. This can probably be closed as it's not specific to this project

[2017-10-25 18:02] MARS1 opened #65 "Gif plays slower than original (30 fps)"
I know I'm doing something wrong but don't know what.

I have a gif spinner at 30fps, but it plays about half as slow as the gif.

Does anyone have this issue?

Here is the gif.

![loader](https://user-images.githubusercontent.com/4566880/32014791-1ac13bea-b98d-11e7-854d-472d2828a65a.gif)

[2017-11-03 18:04] neilyoung opened #66 "Can a gif be loaded from an asset catalog?"
Getting

`SwiftGif: This image named "njoy" does not exist`

while trying

[2017-11-06 10:41] #58 closed

[2017-11-07 01:47] JKZama commented on #62
If you're strictly coding and not using storyboards, the above suggestion by tamoyal works. Go to the "Build Phases" tab when you click on your .xcodproj file in the project navigator and manually add your .gif file by clicking the + under "Copy Bundle Resources". I disagree with the statement by tamoyal "This can probably be closed". When installed as a pod, it doesn't perform as described in XCo

[2017-11-17 12:47] mtrezza commented on #44
This is a conceptual problem with this `UIImage` extension.

First, the composition of an image from data can be quite time intensive and hence should happen on a background thread, not on `main`. You can do this the following way:

[code]

However this will cause a flicker due to a lag in displaying the image when the table view's cells are reloaded with `tableView.reloadData()`.

Neither seems r

[2017-12-06 23:53] seunghee2 commented on #65
Hi there, I've got the same issue too. When I load my gif file, it was looked twice as slow as the original. so I tried like the below code, it's working well for me 😀
[code]

[2017-12-21 08:20] Aaron-Thomas commented on #66
Same thing happened to me. Xcode now doesn't recognise gif files in the .xcassets folder. To solve this i made a new group called 'Gif', outside of the .xcassets folder and added my .gif files to this. Then called it in the same way; e.g. myImageView.image = UIImage.gif(name: "mygif") Worked for me!

[2017-12-27 10:37] xAlien95 commented on #66
You could extend your `UIImage` class:

[code]

You'll be able to load GIFs from assets based on their names using

[code]

[2017-12-27 10:45] xAlien95 commented on #65
Probably your GIF image frames have delays less than 0.1 and currently SwiftGif prevents this. To solve, comment these lines in `UIImage+Gif.swift`:

https://github.com/bahlo/SwiftGif/blob/d26325392aefe7822dea79a757d4e300c694d010/SwiftGifCommon/UIImage%2BGif.swift#L94-L96

[2018-01-08 10:28] mohmmadsawalha96 opened #67 "SwiftGif: This image named "xxx" does not exist"
i just cant load anything  ,,
xcode :Version 9.0 (9A235)

[2018-01-10 00:16] edwardbc commented on #67
Did you verify that the "xxx" value you're using matches the image on your assets? Can you provide a sample of your code?

[2018-01-17 06:48] niennonno commented on #59
Figured out.

After the completion, pick out the last image from the array and set it in the following manner:
`imageView.image = imageArray.last`

[2018-01-17 06:48] #59 closed

[2018-01-18 09:24] d4rkm1nd54 commented on #67
Same here! The name is the same than xassets, and even changing the name. Always receives this message

[2018-01-18 09:31] d4rkm1nd54 commented on #67
Solved taking the gif out of the assets folder

[2018-01-24 13:10] tanukiti1987 commented on #67
Is this the same problem?
https://github.com/bahlo/SwiftGif/issues/66

[2018-01-24 13:13] d4rkm1nd54 commented on #67
@tanukiti1987 Yeap!

[2018-02-17 14:23] bahlo commented on #66
#68 is merged, closing. Feel free to open if the issue persists.

[2018-02-17 14:23] #66 closed

[2018-02-27 20:42] daemelchi commented on #6
https://github.com/daemelchi/SwiftGif/commit/1d8f002ba8cc596f3262b25cc61ad33624896140

[2018-03-05 11:34] GamexStudio commented on #47
See the wiki: https://github.com/bahlo/SwiftGif/wiki/Extended-use for stop the animation after certain animation count.

[2018-03-07 14:28] FouZ commented on #6
The fix proposed by @daemelchi should be pull requested. The defer fixed the leak I had in my app.

[2018-03-13 00:40] miktav commented on #6
The fix proposed by @daemelchi seems to have resolved the leak. I also had to set the UIImage property to nil in viewDidDisappear.

[2018-04-12 07:56] luisfmelon commented on #40
Hi guys,

Is there any update on this?

[2018-04-12 10:40] alessandro-martin commented on #6
@bahlo Could you please merge @daemelchi's fix and issue a new release?

[2018-04-12 14:08] bahlo commented on #6
Hey guys, sorry for the problems. @daemelchi can you please create a PR so we can resolve this?

[2018-04-20 08:07] kublaios commented on #65
Solution of @xAlien95 worked for me but it's better if we don't need to edit a pod's source. Maybe make this optional, like an additional parameter like a `fixDelayIfNeeded` which is `true` by default?

[2018-04-25 19:14] SolDiez90 commented on #6
Switching view controllers doesn't release the gif from memory which causes massive memory leaks especially for quite big gifs. I solved this by loading the UIImage in an appdelegate class but this is just a workaround.

[2018-05-08 20:38] 128keaton opened #70 "Restart gif from beginning"
If possible, it would be nice to have a `.restart()` function. Thanks!

[2018-05-13 19:25] EnesGuerisik commented on #47
@tiwariammit Can you please post your solution

[2018-05-14 03:28] tiwariammit commented on #47
@EnesGuerisik hello i didn't use this library. I have animated the collection of images and shown as like gif image.

[2018-05-22 01:34] darthbatman commented on #31
embedding in a `UIImageView` and scaling does not solve this issue

[2018-05-23 00:56] Hapsidra opened #72 "gif with storyboard"
Hi!
Can i use this framework with storyboard without any code? I want to present gif in `LaunchScreen.storyboard` file. Thanks!

[2018-05-23 01:08] #72 closed

[2018-05-30 00:38] darthbatman opened #73 "Animation stops when image is resized."
#31 What is the resolution for this issue?

[2018-06-07 14:29] ioronamakingsense opened #74 "Animation Speed"
Is there a way to adjust the speed of the animation? Awesome work BTW.

[2018-06-10 02:43] bitops commented on #66
@bahlo I am using version 1.6.1 and encountered this error. I looked in the source code that CocoaPods pulled down and I don't see the code that allows you to look up the image as an asset. Is the code not released or am I doing something wrong? Thanks so much!

By putting my images in a folder outside of the asset folder I was able to load the image just fine.

[2018-06-25 13:35] tforzaglia commented on #48
this issue is resolved by https://github.com/swiftgif/SwiftGif/pull/57

[2018-08-01 05:24] JayeshPoriya commented on #6
1) When I switching view controller, Gif doesn't release memory. How can I deal with this issue?
How can I manage OR solve this issue?
2) When I try to load some other GIF with same viewcontroller on same imageview (On different button action), It's going to very horrible memory leak. It's going to 650MB.
Please Help.

[2018-08-06 03:18] jasonsychau commented on #73
You should put the image into a UIImageView, set UIImageView.contentMode to UIView.contentMode.scaleToFill, and adjust UIImageView.bounds to desired size.

[2018-08-13 20:57] AdiAyyakad commented on #66
Seconded. Can a version please be released with this PR in it?

[2018-10-12 19:44] JulienR23 commented on #47
As I will use a gif only once for a (post)launchscreen, is there a way to stop the gif (loopcount =1) without embedding a framework ? when I see your solution in extended use, the method doesn't seem to get the same properties as the initial example

[2018-10-24 11:53] pawargb commented on #67
What do you mean by "taking the gif out of the assets folder" ???

[2018-12-27 17:03] yzhong52 commented on #74
The speed of gif is defined in gif itself. If you are seeing it being rendering too slow, maybe take a look at this https://github.com/swiftgif/SwiftGif/issues/65

[2018-12-27 17:03] yzhong52 commented on #74
@bahlo Can we close this?

[2018-12-27 20:32] #54 closed

[2018-12-31 14:21] nadia-am opened #78 "when i use loadGif error occur"
when i use it in viewDidLoad Or viewWillAppear myImg.loadGif(name: "GifImgName") this error occur  :
Message from debugger: Terminated due to memory issue

[2019-01-03 21:47] yzhong52 commented on #78
Are you able to reproduce this with a minimal project?

There is one memory fix lately at least. Could you try with master see if the problem still persist?

[2019-04-11 04:53] PawanmSpaceo commented on #51
**### You can use like this**

`imgViewGif.setGifFromURL(URL(fileURLWithPath: Bundle.main.path(forResource: "cameraGif", ofType: "gif")!), manager: SwiftyGifManager.defaultManager, loopCount: 1, showLoader: true)`

[2019-04-18 11:07] lethianqt94 opened #80 "Image not cache"
Can my gif save in cache. I load a gif from url in a uiimageview in collectionviewcell. And when I scroll down, then up. I see it has to load again.

[2019-04-19 03:25] yzhong52 commented on #80
Yeah, this lib doesn't handle any image caching. You will have to handle the image caching part yourself I think.

[2019-04-26 13:52] pablogeek opened #81 "Swift 5.0 support"
Hello! would be good you could add support for swift 5.0

[2019-06-07 05:30] NITINKACHHADIYA opened #82 "Refresh UITableViewCell gif speed auto increase"

[2019-06-07 05:31] NITINKACHHADIYA opened #83 "After clear gif cannot set image on it"

[2019-06-24 20:32] Maryom commented on #41
Hey @bahlo Thanks for this great repo.

I have same issue so I tried the following:

[code]

I can stop the gif by running `stopAnimating()` but the problem it starts from the beginning. I need to pause the gif not to stop it, then when I play it after pause I need it to continue from where it stops not to start from beginning.

Any idea how to do it?

[2019-07-17 03:24] guzhenhuaGitHub opened #84 "only support iOS 10+ by carthage"

[2019-08-27 12:48] ThePredators opened #87 "Crash on "func delayForImageAtIndex(_ index: Int, source: CGImageSource!) -> Double""
The library was working good for a while, and today for no reason it crashed while loading the Gif from assets.

The given error is :
[code]

Thanks.

[2019-08-27 12:50] ThePredators commented on #78
related to #87 !

i have left stack trace if somebody can check whats going on.

[2019-10-11 08:29] pirifan opened #88 "Memory leak inside setGIFFromURL"
The network request captures self strongly, so if the imageView gets deallocated the app crashes.

[2019-11-25 18:22] JorgeFrias opened #90 "iOS 13 support for traitCollection.userInterfaceStyle"
First of all, awesome extension!

I'm using SwiftGif to display animations along the UI, but with iOS 13 I found some of my animations are not displaying correctly on DarkMode, so I'd like to have *trait variations* as we have with `UIColor`:
[code]

I can make something similar with UIImage [using this code](https://gist.github.com/timonus/8b4feb47eccb6dde47ca6320d8fc6b11#gistcomment-3004630), bu

[2019-12-29 23:16] RoboWorldEnt opened #91 "Gif animations play at different speeds on iPad vs iPhone"
Hello all,

I've been loving SwiftyGif so far. When we implemented it, we noticed gif animations are playing at different speeds on iPad vs iPhone. Here's a few videos to showcase what I mean:

iPad:
https://trello-attachments.s3.amazonaws.com/5d8d55c6edf1901a536c38c8/5dc185b8b25a342a77c24f2e/4e2fd05eb07a1254ec5ed1179648e0b1/ipad-gifplayback.mp4

iPhone:
https://trello-attachments.s3.amazonaws.com

[2019-12-30 15:39] dxshindeo opened #92 "Unknown class GIFImageView in Interface Builder file."
So in storyboard I have an imageView, did set its class as "GIFImageView".
When running app, the error in title is displayed.

Library installed as pod `pod 'SwiftGifOrigin', '~> 1.7.0'`

I also did a global search in the project Pods folder, and there are no results for a word "GIFImageView" - the class is not found in the library.

This is what I see:

![Screenshot 2019-12-30 at 17 37 28](https:

[2020-01-02 20:43] #91 closed

[2020-01-02 20:43] RoboWorldEnt commented on #91
Meant to post this on SwiftyGif, posted here on SwiftGif instead. Sorry about that!

[2020-02-27 10:22] MIOSY opened #93 "Takes lot of memory more than 700 MB just to play GIF in Imageview."
Any solution there is memory leaks. Admin please check issues.
[gifex.zip](https://github.com/swiftgif/SwiftGif/files/4261056/gifex.zip)

[2020-03-05 11:21] MIOSY commented on #93
Hi All, Issue got fixed.

we have to add imageView layer to the SCNMaterial()

   imgMaterial.diffuse.contents = self.imageView.layer

Thanks for your response.

[2020-03-05 11:21] #93 closed

[2020-04-15 03:06] Mahesh160393 opened #94 "How to check gif load completely"
How to identify that gif load completely.

[2020-05-16 05:52] oscarito9410 commented on #92
Hi, I'm not the library's owner, but in my case I created this simple `@IBDesignable `class as below

`import UIKit
import SwiftGifOrigin

@IBDesignable class GifImageView: UIImageView {

    @IBInspectable var imageGif: String = "" {
        didSet {
            sharedInit()
        }
    }

    private func sharedInit() {
        if !imageGif.isEmpty {
            self.loadGif(name: imageGif)

[2020-06-11 08:20] fukemy commented on #52
hi, how did u solve it?

[2020-06-11 08:22] fukemy opened #95 "added gif into NSTextAttachment, but not animated"
hi, i loaded success gif image into my attribute string, but it can not animate, it's hard to me to know the problem
[code]
![Screen Shot 2020-06-11 at 15 22 08](https://user-images.githubusercontent.com/8202437/84362361-53d59700-abf7-11ea-8630-94d3c4feaf8d.png)

this is sample link i loaded https://devlink.vedax.ai/images/emotions/cry.gif

[2020-08-18 18:51] StasanTelnov commented on #87
Hello, I have a same problem.
My log is:

[code]

It is crash on 104 line:
[code]

Crash work on this gif image (image with one frame): [https://redmondeda.ru/media/203c0db5.gif](https://redmondeda.ru/media/203c0db5.gif)

Any idea how fix it?

[2020-10-11 08:22] luopan1990911 opened #96 "在ios13系统上加载gif图片，整张图片会变成灰色"
在ios13系统上加载gif图片，整张图片会变成灰色

[2020-10-19 16:42] simpleLiYu opened #97 "memeory use 500MB"
![image](https://user-images.githubusercontent.com/20043672/96480545-f4eef100-126c-11eb-94e3-c5da22f3e4b0.png)
I use it whit TableViewCell but got 500MB memory total,before the memory is 100MB

[2020-10-20 11:39] carlosaguiar commented on #87
@ThePredators @StasanTelnov the same thing was happening to me and it stopped crashing when I changed the capacity to 1 (instead of 0)

let gifPropertiesPointer = UnsafeMutablePointer<UnsafeRawPointer?>.allocate(**capacity: 1**)

Please let me know if the same fix worked for you.

[2020-11-17 13:41] TofPlay opened #98 "Support of SwiftPM"
Can you add [SwiftPM](https://github.com/apple/swift-package-manager) support

[2020-11-26 15:56] kecskesk commented on #87
when I changed the capacity to 1 (instead of 0), it started working. Can you explain why?